@import '../common/variables';

.heading_title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 48px;
  font-weight: 700;
  max-width: 335px;
}

.heading_title-green {
  color: $main_colorGreen;
}

.heading_title-block {
  margin: 0 0 0 -15px;
  padding: 0 0 45px 0;
}

.heading_text,
.block_heading_title,
.block_heading_text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.block_heading_title {
  font-weight: 700;
}

.block_heading {
  padding: 0 0 45px 0;
}

.block_heading_link {
  font-family: 'Roboto Condensed', sans-serif;
  color: $main_colorGreen;
  font-weight: 700;

  &:hover {
    text-decoration: none;
  }
}
